/*estilos-globales*/
*::after,
*::before,
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0 auto;

    max-width: 1200px;
    font-family:"Lato" ;
    color: #333;
    background-color:#979797;

}
.icon-carrito{
    width: 40px;
    height: 40px;
    

}
img{
    max-width: 100%;
    border-radius: 15px;
}
/*estilos-header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0 ;
}


/*main */


.container-items{
    
    display: grid;
    
    grid-template-columns: repeat(3,2fr);
    grid: auto row 6fr; 
    gap: 1px;
    display: inline-block;
    width: 30%;
  margin: 10px;
  text-align: center;




}
.item{

    border-radius: 10px;
    
    
}
.item:hover{
    box-shadow: 0 10px 20px  rgba(0, 0, 0, 20);


}
.info-producto{
    padding: 30px 30px;
}
.item img{
    width: 100%;
    height:300px ;
    object-fit: cover;
}
.header-fachero{
    background-color: #4c4c4c
}
.prueba-letra{

    font-family: 'Sedgwick Ave Display', cursiva;

    


}
.botones-header{

    background-color: #414943 ;
    
    

    
    
    font-family: 'Bebas Neue', cursiva;;
    font-size: 30px;
    border: 20px;
    padding: 10px
    
    

}